<h1>This is what you need to do to add a new post</h1>
<p>
You must post a tip, anything but a tip will automatically result in expulsion. FOR EVER!

</p>

<%= link_to "Proceed to post", new_tip_path, class: "btn btn-small btn-primary" %>
