<% provide(:title, "Edit Tip") %>
<h1>Update your Tip</h1>
<%= form_for @tip do |f| %>
  
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new tips..." %>
  </div>
  <%= f.submit "Update", class: "btn btn-large btn-primary" %>
<% end %>


